@model Tracklio.EmailTemplates.Models.PaymentConfirmationModel
@{
    Layout = "~/EmailTemplates/Views/_Layout.cshtml";
    ViewBag.Title = "Payment Confirmed";
    ViewBag.SupportEmail = Model.SupportEmail;
    ViewBag.SupportPhone = Model.SupportPhone;
}

<h1>Payment Comfirmed</h1>

<p class="greeting">Hi @Model.FirstName</p>

<p class="message">
    Your payment of £@Model.Amount for PCN #@Model.TicketId for your vehicle @Model.VehicleRegistration has been successfully processed.
</p>

<div class="status-container success">
    <div class="status-label">Payment Status</div>
    <div class="status success">Completed</div>
</div>

<p class="instruction">
    Open your app to check the status of your ticket. Contact support for any questions.
</p>
